:root {
  --color-background: #111111;
  --color-background-alt: #1f1f1f;
  --color-background-alt-2: #2c2c2c;

  --color-input-background: #181818;
  --color-input-background-alt: #4f4f4f;

  --color-card-background: #3f3f3f;

  --color-error: #ce1618;
  --color-error-alt: #db1a1d;
}

html {
  /* background: #111111; */
  background: var(--surface-b);
}
